@model IEnumerable<Kinetics.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<!-- Include shared header -->
@await Html.PartialAsync("_SharedTop")
<h4>Roles</h4>
<p>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
        }
        @foreach (var item in Model) {
        i = i + 1;
               
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td class="vc-table-action">
                <a asp-action="Edit" asp-route-id="@item.RoleID" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.RoleID" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.RoleID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- Include shared bottom -->
@await Html.PartialAsync("_SharedBottom")